@media screen and (max-width:676px) {


    .nav-bar {

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 375px;
        height: 64px;
        margin-left: 3px;
        margin-right: 3px;

        margin-top: 30px;




    }

    .nav-container {
        /* min-height: 20px; */
        display: flex;
        /* align-items: center;
        gap: 5px; */
        /* width: 50%; */

    }

    .t1 {
        color: #131318;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .t2 {
        color: #FF5400;
        font-size: 16px;
        font-weight: 800;

    }

    .item-container {
        display: none;
    }

    .hamburger span {
        display: block;
        width: 35px;
        height: 3px;
        margin: 6px auto;
        background-color: #333;
        transition: all 0.3s ease-in-out;
    }

    .banner-content {


        position: relative;



    }

    .banner-content img {
        width: 335px;
        height: 483px;

        border-radius: 16px;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    }

    .text-block {
        position: absolute;
        bottom: 10px;
        right: 10px;

        /* color: white; */
        padding-left: 50px;
        padding-right: 20px;
        border-radius: 8px;
        /* background: rgba(255, 255, 255, 0.30); */




    }

    .t4 {
        color: #FFF;
        font-size: 22px;
        ;

    }

    .t5 {
        color: #FFF;

        /* text-align: center; */

        font-size: 12px;
        width: 304px;
    }

    .banner-dropdown {
        display: flex;
        width: 300px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        height: 288px;
        margin-right: 11px;

    }

    .selector {
        width: 174px;
        height: 52px;
        border-radius: 8px;
        background: #FFF;
        margin-top: 15px;
        color: rgba(19, 19, 24, 0.50);
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        margin-left: 60px;
    }

    .search {
        width: 174px;
        height: 52px;
        border-radius: 8px;
        background: #FF5400;
        color: #FFF;
        font-size: 16px;

        font-weight: 700;
        text-align: center;
        margin-left: 60px;
        margin-top: 10px;

    }

    .first-section {
        /* display: flex;
        justify-content: space-evenly;
        margin-top: 30px; */

        flex-direction: column;
        width: 375px;
        margin: 0 auto;
        

    }

    .first-section-content {
        /* margin-right: 80px; */
        gap: 16px;
        width: 375px;
        margin: 0 auto;
        
        
    }


    .t6 {
        color: #131318;

        font-size: 20px;

        font-weight: 800;
    }

    .t7 {
        color: rgba(19, 19, 24, 0.70);


        font-size: 12px;

        font-weight: 400;
        line-height: 26px;
    }

    .first-section-img {
        margin: 0 auto;
        margin-top: 15px;
        
        width: 335px;
        height: 342px;
        border-radius: 16px;
    }


}